<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik|Lobster|Oswald|Pacifico|Sigmar+One&display=swap" rel="stylesheet">
    <title>matcha</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but matcha doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="wrapper">
      <div id="app"></div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
