<template>
  <div id="chat" v-if="chatList">
    <div class="window">

      <div class="info">
        <template v-if="messages">
          <CustomImage class="image" :pictures="users[curChatUser].pictures" />
          <span class="fio">
            <router-link :to="{ path: `/user/${users[curChatUser].id}` }">
              {{users[curChatUser].firstName}} {{users[curChatUser].lastName}}
            </router-link>
            <font-awesome-icon class="icon list_toggle only_mobile" size="2x"
              :icon="show ? 'caret-down' : 'caret-left'" @click="show = !show"/>
          </span>
        </template>
        <span class="fio" v-else>Choose conversation</span>
      </div>

      <div class="messages" v-if="messages">
        <div v-for="(message, index) in messages" :key="'message'+index+curChatUser"
          :class="['message', { our: message.from }]">
          <span class="text_block">{{message.text}}</span>
        </div>
      </div>

      <div class="input_field" v-if="curChatUser">
        <input type="text" v-model="message" class="text_field" placeholder="Write message"/>
        <font-awesome-icon class="icon send" icon="paper-plane" @click="sendMessage(message)"/>
      </div>

    </div>
    <div class="side_bar" v-if="mobile ? show : true">
      <div v-for="(messages, id) in chatList" :key="'chat'+id"
        @click="changeChat(id)" class="side_bar_item">
        <CustomImage class="image"
          :pictures="users[id].pictures" />
        <div class="name only_mobile">
          {{ `${users[id].firstName} ${users[id].lastName}` }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import { gsap } from 'gsap';
import CustomImage from '@/components/CustomImage';
import badgeMixin from '@/mixins/badgeMixin';

export default {
  name: 'chat',
  components: {
    CustomImage,
  },
  mixins: [badgeMixin],
  data() {
    return {
      message: '',
      show: true,
    };
  },
  computed: {
    ...mapGetters({
      messages: 'users/CHAT_MESSAGES',
      user: 'USER',
      chatList: 'users/CHAT_LIST',
      users: 'tools/ETHALON',
      curChatUser: 'users/CUR_CHAT_USER',
      mobile: 'IS_MOBILE',
    }),
  },
  methods: {
    scroll() {
      this.$nextTick(() => {
        const objDiv = document.querySelector('.window .messages');
        if (objDiv) setTimeout(() => { objDiv.scrollTop = objDiv.scrollHeight; }, 1);
      });
    },
    ...mapMutations({
      chatWith: 'users/SET_CUR_CHAT_USER_ID',
    }),
    sendMessage() {
      if (this.message) {
        this.$store.dispatch('users/SEND_MESSAGE', this.message);
        this.message = '';
        this.scroll();
      }
    },
    changeChat(id) {
      this.chatWith(id);
      this.scroll();
      this.show = false;
    },
    ...mapActions({
      getUsers: 'users/GET_USERS',
    }),
    leave(el, done) {
      // const tl = gsap.timeline();
      if (!this.mobile) {
        gsap.to('#chat .side_bar_item', {
          duration: 0.6,
          scale: 0.5,
          opacity: 0,
          stagger: 0.1,
          onComplete: () => {
            done();
          },
        });
      } else {
        gsap.to('#chat .side_bar_item', {
          duration: 0.6,
          opacity: 0,
          stagger: {
            amount: 0.2,
            from: 'end',
          },
          onComplete: () => {
            done();
          },
        });
      }
    },
    enter() {
      if (!this.mobile) {
        gsap.from('#chat .side_bar .image', {
          duration: 0.6,
          scale: 0.5,
          opacity: 0,
          stagger: 0.1,
        });
      } else {
        gsap.from('#chat .side_bar_item', {
          duration: 0.6,
          opacity: 0,
          stagger: 0.2,
        });
      }
    },
  },
  mounted() {
    if (!this.users) this.getUsers();
    this.scroll();
    if (this.curChatUser) this.show = false;
  },
};
</script>
<style lang="scss">
@import '@/assets/style.scss';

@media (max-width: 480px) {
  #chat {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    .window {
      position: relative;
      height: calc(100vh - 100px);
      @include shadow(inset, rgb(221, 221, 221));
      overflow-x: hidden;
      overflow-y: scroll;
        width: 100%;
      .info {
        background-color: rgb(207, 207, 207);
        padding-left: 20px;
        position: fixed;
        height: 60px;
        width: 100%;
        @include shadow(inset, rgb(165, 165, 165));
        .image {
          margin: 6px 20px 6px 0;
          border-radius: 24px;
          min-width: 48px;
          height: 48px;
          object-fit: cover;
        }
        .fio {
          position: absolute;
          cursor: pointer;
          height: 60px;
          line-height: 60px;
          font-family: 'Lobster', cursive;
          font-size: 18px;
          .list_toggle {
            position: absolute;
            margin: 12px;
          }
        }
      }
      .messages {
        width: 100%;
        bottom: 80px;
        margin: 70px 0;
        .message {
          min-height: 30px;
          margin: 4px 15% 4px 8px;
          .text_block {
            padding: 10px 30px;
            display: inline-block;
            line-height: 20px;
            border-radius: 0 30px 30px 0;
            background-color: rgb(221, 221, 221);
          }
        }
        .message.our {
          margin: 4px 8px 4px 15%;
          text-align: right;
          .text_block {
            border-radius: 30px 0 0 30px;
            background-color: $main-color;
          }
        }
      }
      .input_field {
        position: fixed;
        bottom: 50px;
        width: 100%;
        padding: 10px;
        background-color: rgb(207, 207, 207);
        @include shadow(inset, rgb(165, 165, 165));
        .text_field {
          font-size: 16px;
          padding: 10px;
          width: 85%;
          border: none;
          height: 40px;
          border-radius: 10px;
        }
        .icon {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          color: #fff;
          height: 30px;
          width: 30px;
          padding: 0;
          margin: 15px;
        }
      }
    }
    .side_bar {
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      top: 110px;
      width: 100%;
      .side_bar_item {
        position: relative;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
        .image {
          position: absolute;
          border-radius: 50px;
          width: 48px;
          height: 48px;
          object-fit: cover;
          left: 10px;
          top: 5px;
        }
        .name {
          padding: 5px 0 5px 60px;
          border-bottom: 1px solid gray;
          height: 60px;
          line-height: 50px;
          text-align: center;
          font-family: 'Lobster', cursive;
        }
      }
    }
  }
}
@media (min-width: 480px) {
  #chat {
    position: relative;
    height: 900px;
    padding-right: 140px;
    .window {
      position: relative;
      height: 900px;
      width: 965px;
      // overflow-x: hidden;
      // overflow-y: scroll;
      @include shadow(inset, rgb(221, 221, 221));
      .info {
        background-color: rgb(207, 207, 207);
        padding: 10px;
        position: absolute;
        height: 80px;
        width: 952px;
        @include shadow(inset, rgb(165, 165, 165));
        .image {
          border-radius: 30px;
          min-width: 60px;
          height: 60px;
          object-fit: cover;
          // cursor: pointer;
        }
        .fio {
          position: absolute;
          cursor: pointer;
          height: 80px;
          line-height: 60px;
          font-family: 'Lobster', cursive;
          font-size: 25px;
          left: 100px;
        }
        .fio:hover {
          text-decoration: underline;
        }
      }
      .messages {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 965px;
        bottom: 80px;
        // margin: 130px 0;
        padding: 130px 0;
        height: 900px;
        .message {
          min-height: 60px;
          margin: 10px 55% 10px 20px;
          .text_block {
            padding: 10px 30px;
            display: inline-block;
            line-height: 40px;
            border-radius: 0 30px 30px 0;
            background-color: rgb(221, 221, 221);
          }
        }
        .message.our {
          margin: 10px 20px 10px 55%;
          text-align: right;
          .text_block {
            border-radius: 30px 0 0 30px;
            background-color: $main-color;
          }
        }
      }
      .input_field {
        position: absolute;
        bottom: 0px;
        width: 952px;
        background-color: rgb(207, 207, 207);
        @include shadow(inset, rgb(165, 165, 165));
        .text_field {
          font-size: 16px;
          padding: 10px;
          width: 85%;
          margin: 20px;
          border: none;
          height: 40px;
          border-radius: 10px;
        }
        .icon {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          color: #fff;
          height: 40px;
          width: 40px;
          padding: 0;
          margin: 20px;
        }
      }
    }
    .side_bar {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 120px;
      height: 900px;
      .image {
        cursor: pointer;
        z-index: 2;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        left: 70px;
      }
    }
  }
}
</style>
