<template>
  <div class="short_list"
    v-if="myLikeList && historyList && this.$route.name==='history'">
    <transition-group name="list" tag="p">
      <UserShort v-for="userId in historyList"
        :key="'history'+userId"
        :user="users[userId]">
        <div class="icons">
          <font-awesome-icon icon="heart" :size="`${mobile ? 2 : 3}x`"
            :class="['icon', 'like', 'heart_color',
            { active: visitorLikeList.includes(userId) }]"/>
          <router-link :to="{ path: `/chat` }">
            <font-awesome-icon :class="['icon', 'message', 'active', `comment-alt_color`]"
              :size="`${mobile ? 2 : 3}x`" icon="comment-alt"
              v-if="visitorLikeList.includes(userId) && myLikeList.includes(userId)"
              @click="chatWIthUser(userId)"/>
          </router-link>
        </div>
      </UserShort>
    </transition-group>
  </div>

  <div class="short_list"
    v-else-if="visitorLikeList && visitorList && this.$route.name==='visitors'">
    <transition-group name="list" tag="p">
      <UserShort v-for="userId in visitorList"
        :key="'visitor'+userId"
        :user="users[userId]">
        <div class="icons">
          <font-awesome-icon icon="heart" :size="`${mobile ? 2 : 3}x`"
            :class="['icon', 'like', 'heart_color',
            { active: visitorLikeList.includes(userId) }]"/>
          <router-link :to="{ path: `/chat` }">
            <font-awesome-icon :class="['icon', 'message', 'active', `comment-alt_color`]"
              :size="`${mobile ? 2 : 3}x`" icon="comment-alt"
              v-if="visitorLikeList.includes(userId) && myLikeList.includes(userId)"
              @click="chatWIthUser(userId)"/>
          </router-link>
        </div>
      </UserShort>
    </transition-group>
  </div>

  <div class="short_list"
    v-else-if="notifications && this.$route.name==='notifications'">
    <transition-group name="list" tag="p">
      <UserShort v-for="notification in notifications"
        :key="'notif'+notification.id"
        :user="users[notification.id]">
        <div class="icons">
          <font-awesome-icon v-for="act in notification.actions"
            :size="`${mobile ? 2 : 3}x`"
            :key="'action'+act+notification.id"
            :class="['icon', 'active', act, `${icons[act]}_color`]" :icon="icons[act]" />
        </div>
      </UserShort>
    </transition-group>
  </div>

</template>

<script>
import { mapMutations, mapActions, mapGetters } from 'vuex';
import { gsap } from 'gsap';
import UserShort from '@/components/UserShort.vue';
import iconsMixin from '@/mixins/iconMixin';

export default {
  name: 'history',
  mixins: [iconsMixin],
  components: {
    UserShort,
  },
  computed: {
    ...mapGetters({
      mobile: 'IS_MOBILE',
      user: 'USER',
      users: 'tools/ETHALON',
      notifications: 'messages/GET_ALL_NOTIFICATIONS',
      visitorLikeList: 'users/VISITOR_LIKES',
      myLikeList: 'users/MY_LIKES',
      visitorList: 'users/VISITORS',
      historyList: 'users/HISTORY',
    }),
  },
  methods: {
    ...mapMutations({
      chatWIthUser: 'users/SET_CUR_CHAT_USER_ID',
    }),
    ...mapActions({
      getUsers: 'users/GET_USERS',
    }),
    leave(el, done) {
      gsap.to('.short_list .user', {
        duration: 0.5,
        // x: -100,
        scale: 0,
        opacity: 0,
        stagger: {
          amount: 1,
          from: 'end',
        },
        onComplete: () => {
          done();
        },
      });
    },
    enter() {
      gsap.from('.short_list .user', {
        duration: 0.5,
        // x: 100,
        scale: 0,
        stagger: {
          amount: 1,
        },
        opacity: 0,
      });
    },
  },
  mounted() {
    if (!this.users) this.getUsers();
  },
};
</script>
<style scoped lang="scss">
@import '@/assets/style.scss';

  @media (max-width: 480px) {
    .short_list {
      padding: 0 20px;
      .icons {
        position: absolute;
        right: 0;
        top: 40px;
        .icon {
          margin-left: 10px;
        }
      }
    }
  }
  @media (min-width: 480px) {
    .short_list {
      .icons {
        .icon {
          margin: 25px 10px;
          display: inline-block;
        }
        .like.active {
          color: rgb(253, 80, 57);
        }
      }
    }
  }

</style>
