<template>

    <div id="login">

      <template v-if="state == 'login'">
        <TextField title="Login" :value="login" :field="'login'"
          v-bind:$v=$v
          @set_value="login = $event.val"/>

        <TextField title="Password" :value="password" :field="'password'"
          v-bind:$v=$v
          @set_value="password = $event.val"/>
      </template>

      <template v-else-if="state == 'register'">
        <TextField title="Login" :value="login_reg" :field="'login_reg'"
          v-bind:$v=$v
          @set_value="login_reg = $event.val"/>

        <TextField title="Password" :value="password_reg" :field="'password_reg'"
          v-bind:$v=$v
          @set_value="password_reg = $event.val"/>
        <TextField title="First name" :value="fname" :field="'fname'"
          v-bind:$v=$v
          @set_value="fname = $event.val"/>
        <TextField title="Last name" :value="lname" :field="'lname'"
          v-bind:$v=$v
          @set_value="lname = $event.val"/>
        <TextField title="E-mail" :value="mail" :field="'mail'"
          v-bind:$v=$v
          @set_value="mail = $event.val"/>
      </template>

      <div class="links" v-if="state !== 'final'">
        <template v-if="state == 'register'">
          <span class="link" :class="{ disable: $v.$invalid }"
            @click="signUp">Registration</span>
          <span class="link" @click="state = 'login'">Back</span>
        </template>
        <template v-else>
          <span class="link"
            :class="{ disable: !login || !password }"
            @click="signIn">Sign In</span>
          <span class="link" @click="state = 'register'; getLocation()">Register</span>
          <span class="link">Forget password</span>
        </template>
      </div>

    </div>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { gsap } from 'gsap';
import {
  required,
  minLength,
  maxLength,
  email,
} from 'vuelidate/lib/validators';
import TextField from '@/components/TextField.vue';
import Geolocation from '@/library/geolocation';

export default {
  name: 'login',
  data() {
    return {
      state: 'login',
      login: 1,
      password: 1,
      login_reg: null,
      password_reg: null,
      fname: null,
      lname: null,
      mail: null,
      location: null,
    };
  },
  mixins: [
    validationMixin,
  ],
  validations: {
    login: {},
    login_reg: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(10),
    },
    password: {},
    password_reg: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(10),
    },
    fname: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(10),
    },
    lname: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(10),
    },
    mail: {
      required,
      email,
    },
  },
  components: {
    TextField,
  },
  computed: {
    ...mapGetters({
      mobile: 'IS_MOBILE',
    }),
  },
  methods: {
    getLocation() {
      if (!this.location) Geolocation.byGPS().then((resp) => { this.location = resp; });
    },
    signIn() {
      if (this.login && this.password) {
        this.sign_in({
          login: this.login,
          password: this.password,
        });
        // this.state = 'final';
      }
    },
    signUp() {
      if (!this.$v.$invalid) {
        this.state = 'final';
        this.registration();
      }
    },
    ...mapActions({
      sign_in: 'LOGIN',
      registration: 'SIGN_UP',
    }),
    leave(el, done) {
      const tl = gsap.timeline();
      tl.to('#login .links', {
        duration: 0.1,
        x: 100,
        opacity: 0,
      });
      tl.to('#login .field', {
        duration: 0.5,
        x: 100,
        opacity: 0,
        stagger: 0.2,
      });
      tl.fromTo('#app header',
        {
          duration: 1,
          height: '100%',
        },
        {
          height: this.mobile ? '50px' : '80px',
          onComplete: () => { done(); },
        });
      tl.from('.nav .link', {
        duration: 1,
        scale: 0.1,
        opacity: 0,
        stagger: 0.2,
        ease: 'elastic',
      });
    },
    enter() {
      const tl = gsap.timeline();
      tl.fromTo('#app header',
        {
          duration: 1,
          height: this.mobile ? '50px' : '80px',

        },
        {
          height: '100%',
        });
      tl.from('#login .field', {
        duration: 0.6,
        scale: 0.5,
        opacity: 0,
        stagger: 0.1,
        ease: 'elastic',
      });
      tl.from('#login .links', {
        duration: 0.1,
        x: 100,
        opacity: 0,
      });
    },
  },
  mounted() {
  },
};
</script>
<style lang="scss">
@import '@/assets/style.scss';

#login {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  @media (min-width: 480px) {
    padding: 10% 0;
  }
  @media (max-width: 480px) {
    padding: 10%;

  }
  z-index: 5; // more than header (4)
  .links {
    @media (max-width: 480px) {
      display: flex;
      justify-content: space-around;
    }
    @media (min-width: 480px) {
      display: block;
      .link { margin-right: 20px; }
    }
    .link {
      font-size: 0.9em;
      display: inline-block;
    }

  }
  .field {
    margin-bottom: 30px;
      .value {
        border-radius: 20px;
        @include shadow($color: $main-color-shadow, $size: 10px);
      }
      .title {
        &.move {
          top: -30px;
          font-size: 0.8em;
          color: #fff;
        }
      }
      .error {
        @media (max-width: 480px) {
          text-align: right;
          right: 5px;
          bottom: -30px;
        }
        @media (min-width: 480px) {
          right: 20px;
          bottom: -33px;
        }
      }
      &.invalid {
        .value {
          @include shadow($color: $error-color, $size: 5px);
        }
      }
  }
}
</style>
