<template>

  <div id="settings" v-if="user">
    <!-- {{ changes }} -->

    <h2 v-if="!user.informationFilled">Please, fill some information about you</h2>

    <TextField title="First name" :value="user.firstName" :field="'firstName'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <TextField title="Last name" :value="user.lastName" :field="'lastName'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <TextField title="Age" :value="user.age" :field="'age'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <TextField title="E-mail" :value="user.mail" :field="'mail'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <ChooseField title="Gender" :value="user.gender" :field="'gender'"
      :options="['male', 'female', 'bisexual']"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <ChooseField title="Preferences" :value="user.preferences" :field="'preferences'"
      :options="['male', 'female', 'bisexual']"
      v-bind:$v=$v
      many="true"
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <TextField title="Biography" :value="user.biography" :field="'biography'"
      :many="true"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <TagsField title="Tags" :value="[...user.tags]" :field="'tags'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <ImagesField title="Images" :value="user.pictures" :field="'pictures'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/>

    <!-- <MapField title="Images" :value="user.pictures" :field="'pictures'"
      v-bind:$v=$v
      @set_change="set_change"
      @clear_change="clear_change"
      @set_value="set_value"/> -->

    <div class="field">
      <span class="title move">Your location: </span>

      <yandex-map class="map"
        :settings="settings"
        :coords="location"
        @click="changeMark"
        zoom="15"
        :cluster-options="{
          1: {clusterDisableClickZoom: true}
        }"
        :behaviors="['drag', 'scrollZoom']"
        :controls="[]">

        <ymap-marker
          markerId="1"
          marker-type="placemark"
          :coords="location"
          hint-content="Your markplace"
          :balloon="{header: 'header', body: 'body', footer: 'footer'}"
          cluster-name="1" />
      </yandex-map>

    </div>

    <div class="btn" :class="{ disabled: $v.$invalid }"
      @click="!$v.$invalid && saveChanges()">
      {{ !$v.$invalid ? 'Save changes' : 'Fill reuired fields' }}
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from 'vuex';
import { validationMixin } from 'vuelidate';
import { gsap } from 'gsap';
import {
  required,
  minLength,
  maxLength,
  between,
  email,
} from 'vuelidate/lib/validators';
import TextField from '@/components/TextField.vue';
import ChooseField from '@/components/ChooseField.vue';
import TagsField from '@/components/TagsField.vue';
import ImagesField from '@/components/ImagesField.vue';
import { yandexMap, ymapMarker } from 'vue-yandex-maps';

export default {
  name: 'settingsPage',
  mixins: [
    validationMixin,
  ],
  validations: {
    firstName: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(10),
    },
    lastName: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(10),
    },
    mail: {
      required,
      email,
    },
    age: {
      required,
      between: between(18, 99),
    },
    gender: {
      required,
    },
    preferences: {
      required,
    },
    biography: {
      required,
      maxLength: maxLength(1028),
    },
    tags: {
      required,
    },
    pictures: {
      required,
    },
    location: {
      required,
    },
  },
  components: {
    TextField,
    ChooseField,
    TagsField,
    ImagesField,
    yandexMap,
    ymapMarker,
  },
  data: () => ({
    settings: {
      apiKey: '',
      lang: 'ru_RU',
      coordorder: 'latlong',
      version: '2.1',
    },
  }),
  computed: {
    ...mapGetters({
      firstName: 'FIRST_NAME',
      lastName: 'LAST_NAME',
      age: 'AGE',
      mail: 'MAIL',
      gender: 'GENDER',
      preferences: 'PREFERENCES',
      biography: 'BIOGRAPHY',
      tags: 'TAGS',
      pictures: 'IMAGES',
      location: 'LOCATION',
      user: 'USER',
      changes: 'CHANGES',
      changesExist: 'CHANGES_EXIST',
      emptyField: 'EMPTY_FIELD',
    }),
  },
  methods: {
    changeMark(e) {
      this.set_value({
        key: 'location',
        val: e.get('coords'),
      });
      this.set_change({
        key: 'location',
        val: e.get('coords'),
      });
    },
    set_value(data) {
      this.$store.commit('SET_VALUE', data);
      this.$v[data.key].$touch();
    },
    ...mapMutations({
      set_change: 'SET_CHANGE',
      clear_change: 'CLEAR_CHANGE',
    }),
    ...mapActions({
      saveChanges: 'SAVE_CHANGES',
      getUsers: 'users/GET_USERS',
    }),
    leave(el, done) {
      gsap.to('#settings .field', {
        duration: 0.5,
        x: -100,
        scale: 0.5,
        opacity: 0,
        stagger: 0.1,
        ease: 'power4',
        onComplete: () => {
          done();
        },
      });
    },
    enter() {
      gsap.from('#settings .field', {
        duration: 0.5,
        x: -100,
        scale: 0.5,
        opacity: 0,
        stagger: 0.1,
        ease: 'power4',
      });
    },
  },
  mounted() {
    if (!this.user) this.getUsers();
  },
};
</script>

<style lang="scss">
@import '@/assets/style.scss';

#settings {
  height: 100%;
  .field {
    margin-bottom: 20px;
    @media (max-width: 480px) {
      border-top: 1px solid $main-color;
      border-bottom: 1px solid $main-color;
      &.invalid {
        border-color: $error-color;
      }
    }
    @media (min-width: 480px) {
      width: 400px;
      &.invalid {
        .title {
          top: -10px;
        }
        .value {
          @include shadow($color: $error-color, $size: 5px);
        }
      }
    }
    .title {
      @media (max-width: 480px) {
        left: 20px;
      }
      @media (min-width: 480px) {
        left: 0px;
      }
      font-size: 18px;
      font-weight: bold;
      &.move {
        @media (max-width: 480px) {
          top: -10px;
          height: 20px;
          line-height: 20px;
          background-color: #fff;
          padding: 0 5px;
          width: fit-content;
          color: $main-color;
          font-size: 0.6em;
        }
      }
    }
    .value {
      @media (min-width: 480px) {
        margin-left: 250px;
        border-radius: 20px;
        @include shadow($color: $main-color, $size: 10px);
      }
    }
    .radio {
      @media (min-width: 480px) {
        margin-left: 250px;
      }
      @media (max-width: 480px) {
        margin: 10px 0;
      }
    }
    .map {
      height: 400px;
      width: 400px;
      @media (min-width: 480px) {
        margin-left: 250px;
      }
      @media (max-width: 480px) {
        margin: 30px 0;
        height: 300px;
        width: 100%;
      }
    }
    .error {
      @media (max-width: 480px) {
        right: 10px;
        bottom: -7px;
        padding: 0 5px;
        background-color: #fff;
        height: 15px;
        line-height: 15px;
      }
      @media (min-width: 480px) {
        left: 0;
        top: 10px;
      }
    }
  }
  .btn {
    @include button();
    @media (max-width: 480px) {
      width: 100%;
    }
    @media (min-width: 480px) {
      margin-top: 40px;
    }
  }
}

</style>
