<template>
  <div :class="['tools_box', { hide: !show }]" v-if="tools">
    <!-- {{tools}} -->
    <RoundedIcon :class="['icon', 'close']"
      :icon="show ? 'times' : 'cog'" @click="show=!show" :size="3" />
    <div :class="['tools']">
      <!-- <font-awesome-icon class="icon close"  /> -->

      <template v-if="show">
      {{sortList}}

        <div class="section_title">Filter by</div><hr>

        <div class="field sort">
          <span class="title">Preferences</span>
          <label for="pref_male">
            <font-awesome-icon :class="['icon', {
              active: pref.includes('male')
            }]" icon="mars" />
          </label>
          <input id="pref_male" class="value" type="checkbox" value="male" v-model="pref">
          <label for="pref_female">
            <font-awesome-icon :class="['icon', {
              active: pref.includes('female')
            }]" icon="venus" />
          </label>
          <input id="pref_female" class="value" type="checkbox" value="female" v-model="pref">
          <label for="pref_bi">
            <font-awesome-icon :class="['icon', {
              active: pref.includes('bisexual')
            }]" icon="transgender" />
          </label>
          <input id="pref_bi" class="value" type="checkbox" value="bisexual" v-model="pref">
        </div>

        <div class="field">
          <span class="title">Age</span>
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'minAge' })"
            id="minAge"
            :value="tools.minAge">
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'maxAge' })"
            id="maxAge"
            :value="tools.maxAge">
        </div>

        <div class="field">
          <span class="title">Distance</span>
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'minDist' })"
            id="minDist"
            :value="tools.minDist">
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'maxDist' })"
            id="maxDist"
            :value="tools.maxDist">
        </div>

        <div class="field">
          <span class="title">Rating</span>
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'minRate' })"
            id="minRate"
            :value="tools.minRate">
          <input class="value"
            @blur="setFilter({ val: $event.target.value, key: 'maxRate' })"
            id="maxRate"
            :value="tools.maxRate">
        </div>

        <div class="field">
          <span class="title" for="maxRate">Tags</span>
          <input class="value tags" @blur="addTag(newTag); newTag=''" v-model.trim="newTag"
            placeholder="Input new tag"/>
        </div>
        <div class="tag_list">
          <span v-for="(tag, index) in tools.tags" :key="tag"
            @click="deleteTag(index)" class="tag">#{{ tag }}
          </span>
        </div>

        <div class="section_title">Sort by</div><hr>

        <div class="field sort">
          <span class="title">Distance</span>
          <label for="dist"><font-awesome-icon :class="['icon', {
              active: sortList.includes('dist')
            }]" icon="sort-amount-down-alt" /></label>
          <input id="dist" class="value" type="checkbox" value="dist" v-model="sortList">
          <label for="dist_rev"><font-awesome-icon :class="['icon', {
              active: sortList.includes('dist_rev')
            }]" icon="sort-amount-down" /></label>
          <input id="dist_rev" class="value" type="checkbox" value="dist_rev" v-model="sortList">
        </div>

        <div class="field sort">
          <span class="title">Age</span>
          <label for="age"><font-awesome-icon :class="['icon', {
              active: sortList.includes('age')
            }]" icon="sort-amount-down-alt" /></label>
          <input id="age" class="value" type="checkbox" value="age" v-model="sortList">
          <label for="age_rev"><font-awesome-icon :class="['icon', {
              active: sortList.includes('age_rev')
            }]" icon="sort-amount-down" /></label>
          <input id="age_rev" class="value" type="checkbox" value="age_rev" v-model="sortList">
        </div>

        <div class="field sort">
          <span class="title">Raiting</span>
          <label for="rate"><font-awesome-icon :class="['icon', {
              active: sortList.includes('rate')
            }]" icon="sort-amount-down-alt" /></label>
          <input id="rate" class="value" type="checkbox" value="rate" v-model="sortList">
          <label for="rate_rev"><font-awesome-icon :class="['icon', {
              active: sortList.includes('rate_rev')
            }]" icon="sort-amount-down" /></label>
          <input id="rate_rev" class="value" type="checkbox" value="rate_rev" v-model="sortList">
        </div>

        <div class="field sort" v-if="tools.tags.length > 1">
          <span class="title">Tags</span>
          <label for="tags"><font-awesome-icon :class="['icon', {
              active: sortList.includes('tags')
            }]" icon="sort-amount-down-alt" /></label>
          <input id="tags" class="value" type="checkbox" value="tags" v-model="sortList">
          <label for="tags_rev"><font-awesome-icon :class="['icon', {
              active: sortList.includes('tags_rev')
            }]" icon="sort-amount-down" /></label>
          <input id="tags_rev" class="value" type="checkbox" value="tags_rev" v-model="sortList">
        </div>

      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import RoundedIcon from '@/components/RoundedIcon.vue';

export default {
  name: 'tools',
  data() {
    return {
      show: false,
      newTag: null,
    };
  },
  components: {
    RoundedIcon,
  },
  computed: {
    pref: {
      set(value) { this.setFilter({ val: value, key: 'pref' }); },
      get() { return this.tools.pref; },
    },
    sortList: {
      set(value) { this.sort(value); },
      get() { return this.$store.getters['tools/SORT_LIST']; },
    },
    ...mapGetters({
      tools: 'tools/TOOLS',
    }),
  },
  methods: {
    deleteTag(index) {
      this.tools.tags.splice(index, 1);
      this.filterUsers();
    },
    ...mapMutations({
      sort: 'tools/SORT',
      setValue: 'SET_VALUE',
      toggleSortOrder: 'tools/TOGGLE_SORT_ORDER',
      filterUsers: 'tools/FILTER_USERS',
    }),
    ...mapActions({
      addTag: 'tools/ADD_TAG',
      setFilter: 'tools/SET_FILTER',
    }),
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

.tools_box {
  @media (max-width: 480px) {
    width: calc(100% - 20px);
    height: 100%;
  }
  @media (min-width: 480px) {
    width: 0px;
    height: 0px;
  }
  .close {
    position: absolute;
    color: $main-color;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  .tools {
    @media (max-width: 480px) {
      height: calc(100% - 120px);
      overflow: auto;
    }
    @media (min-width: 480px) {
      width: 260px;
    }
    background-color: $main-color-light;
    border-radius: 30px;
    padding: 30px;
    .section_title {
      display: inline-block;
      font-weight: bold;
      margin-top: 20px;
      padding: 0 5px;
      background-color: $main-color-light;
      position: relative;
      bottom: -15px;
      right: -15px;
      font-size: 14px;
      text-align: right;
    }
    hr {
      margin-bottom: 15px;
    }
    // .tag_filter {
    //   width: 100%;
    //   margin: 10px 0;
    //   padding: 10px;
    // }
    .field {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .title {
        position: static;
        width: 120px;
        display: inline-block;
        line-height: 30px;
      }
      .value {
        outline: none;
        border: none;
        padding: 8px;
        margin: 2px;
        width: 50px;
        height: 30px;
        text-align: center;
      }
      .value.tags {
        width: 104px;
      }
    }
    .field.sort {
      input {
        display: none;
      }
      .icon {
        height: 30px;
        width: 30px;
        color: white;
      }
      .icon.active {
        color: $main-color;
      }
    }
    .tag_list {
      margin: 10px 2px;
      width: 100%;
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      .tag {
        display: inline-block;
        padding: 0 15px;
        margin: 5px;
        height: 30px;
        line-height: 30px;
        max-width: 200px;
        overflow: hidden;
        border-radius: 15px;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
  &.hide {
    height: 0;
    // display: none;
  }
  &.hide .tools {
    display: none;
    // overflow: hidden;
  }
}
</style>
