<template>

  <div class="user" :class="[user.gender]">
    <div class="content">
      <div class="image">
        <CustomImage class="custom_image" :pictures="user.pictures" @click="paginate"/>
        <RoundedIcon :class="['gender']"
          :icon="user.gender" :size="mobile ? 7 : 7"
          :style="getByDeg(210)" :mask="mobile" />

        <RoundedIcon :class="[`pref_${index}`, 'pref_icon']"
          v-for="(gender, index) in user.preferences"
          :key="'pref'+user.id+gender" :icon="gender" :size="mobile ? 3 : 3"
          :style="getByDeg(245 + 20 * index)" :mask="mobile" />

        <RoundedIcon :class="['like', { active: myLikeList.includes(user.id) }]"
          :icon="'heart'" @click.native="like(user.id)"
          :style="getByDeg(90)"
          :size="mobile ? 3 : 4" key="like" :mask="false"/>
      </div>

      <span class="fio">
        <router-link class="name" :to="{ path: `/user/${user.id}` }">
          {{ user.firstName }} {{ user.lastName }}
        </router-link>
        <span class="age">{{ `, ${user.age}` }}</span>
        <font-awesome-icon class="icon only_laptop" icon="star"
          :style="{
            color: `rgb(
              ${r - (r - rFinal) * k},
              ${g - (g - gFinal) * k},
              ${b - (b - bFinal) * k})`
            }"/>
        <span class="raiting only_laptop">{{ user.fameRating }}</span>
        <font-awesome-icon class="icon only_laptop" icon="location-arrow" />
        <span class="distance only_laptop">{{ user.dist }} km</span>
      </span>


      <div class="only_laptop biography">{{ `${user.biography}` }}</div>
      <div class="only_laptop tags">
        <span class="tag bc" @click="addTag(tag)"
          v-for="tag in user.tags" :key="'usertag-'+tag">
          {{ `#${tag}` }}
        </span>
      </div>
    </div>
  <!-- {{ user }} -->
  </div>

</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
// import { gsap } from 'gsap';
import RoundedIcon from '@/components/RoundedIcon.vue';
import CustomImage from '@/components/CustomImage.vue';

export default {
  name: 'user',
  data() {
    return {
      // show: false,
      deg: 130,
      r: 255,
      g: 188,
      b: 181,
      rFinal: 121,
      gFinal: 11,
      bFinal: 0,
      k: this.user.fameRating / 1000,
    };
  },
  components: {
    RoundedIcon,
    CustomImage,
  },
  props: ['user'],
  computed: {
    ...mapGetters({
      mobile: 'IS_MOBILE',
      myLikeList: 'users/MY_LIKES',
      location: 'LOCATION',
    }),
  },
  methods: {
    paginate(e) {
      if (this.mobile) {
        if (e.clientX > window.innerWidth * 0.8) {
          this.moveUpPage();
        } else if (e.clientX < window.innerWidth * 0.2) {
          this.moveDownPage();
        }
      }
    },
    left: (deg) => (1 + Math.cos((deg * Math.PI) / 180)) * 120,
    top: (deg) => (1 - Math.sin((deg * Math.PI) / 180)) * 120,
    getByDeg(deg) {
      return window.innerWidth > 480 ? {
        transform: `
          rotate(${deg}deg)
          translateX(120px)
          rotate(-${deg}deg)
          translate(-50%, -50%)
        `,
      } : {};
    },
    ...mapMutations({
      like: 'users/LIKE',
      moveUpPage: 'tools/MOVE_UP_PAGE',
      moveDownPage: 'tools/MOVE_DOWN_PAGE',
    }),
    ...mapActions({
      addTag: 'tools/ADD_TAG',
    }),
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

@media (max-width: 480px) {
  .user {
    height: 80vh;
    .like {
      z-index: 10;
      bottom: 1px;
      right: 50%;
      transform: translateX(50%);
      position: fixed;
    }
    .gender {
      position: fixed;
      top: 70px;
      right: 10px;
      opacity: 0.8;
    }
    .pref_icon {
      position: fixed;
      top: 70px;
      opacity: 0.8;
    }
    .pref_icon:nth-child(n) {
      right: 180px;
    }
    .pref_icon:nth-child(2n) {
      right: 140px;
    }
    .pref_icon:nth-child(3n) {
      right: 100px;
    }
    .fio {
      bottom: 70px;
      left: 30px;
      font-family: 'Lobster', cursive;
      position: fixed;
      font-size: 25px;
    }
    img {
      opacity: 0.9;
      height: 80%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 50px;
      mask-image: linear-gradient(rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    }
  }
}
@media (min-width: 480px) {
  .user {
    position: relative;
    left: 70px;
    height: $user_height;
    width: $user_width;
    padding: ($user_height - $user_inner_height) / 2 0;
    .content {
      position: relative;
      display: flex;
      margin-left: $img_big / 2;
      height: $user_inner_height;
      border-radius: $user_inner_height / 2;
      padding: 0 $user_inner_height / 4 0 $img_big / 2 ;
      border-right: 1px solid $main-color;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 191, 191, 0.4) 90%,
        rgba(255, 191, 191, 1) 100%
      );
      .image {
        top: -(($img_big - $user_inner_height) / 2);
        left: -$img_big / 2;
        position: absolute;
        background-color: #fff;
        border-radius: $img_big / 2;
        width: $img_big;
        height: $img_big;
        @include shadow();
        img {
          position: absolute;
          top: $img_big_border;
          left: $img_big_border;
          border-radius: ($img_big - $img_big_border * 2) / 2;
          width: $img_big - $img_big_border * 2;
          height: $img_big - $img_big_border * 2;
          object-fit: cover;
        }
        .rounded_icon {
          position: absolute;
          left: 50%;
          top: 50%;
          color: lightgray;
        }
        .like {
          z-index: 100;
        }
      }
      .fio {
        font-family: 'Lobster', cursive;
        position: absolute;
        top: -40px;
        left: 120px;
        font-size: 22px;
        .raiting {
          font-size: 16px;
        }
        .icon {
          margin-left: 20px;
        }
        .distance {
          font-size: 16px;

          bottom: -20px;
          left: 20px;
          color: $font-color;
        }
        .name {
          color: $font-color;
        }
        .name:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .biography {
        font-family: 'Rubik', sans-serif;
        line-height: 15px;
        padding: 0 30px;
        font-size: 12px;
        max-height: 90px;
        margin: auto 0;
        overflow: hidden;
      }
      .tags {
        position: absolute;
        left: 100px;
        top: 140px;
        .tag {
          @include tag();
        }
      }
    }
  }
}

</style>
