<template>
  <div id="main" v-if="user && users">
    <div class="user_list">
      <template v-if="users.length">
        <transition-group
          tag="p"
          name="user">
          <User v-for="(user, index) in renderUsers"
            :key="user.id"
            :user="{...user, index: index}"/>
        </transition-group>
        </template>
        <template v-else>
          <div class="else">Search returned no results</div>
        </template>
    </div>
    <Tools class="tools"/>
    <Paginator class="paginator"/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { gsap } from 'gsap';
import User from '@/views/User.vue';
import Tools from '@/views/Tools.vue';
import Paginator from '@/components/Paginator.vue';

export default {
  name: 'userList',
  components: {
    User,
    Tools,
    Paginator,
  },
  computed: {
    ...mapGetters({
      user: 'USER',
      users: 'tools/USERS',
      renderUsers: 'tools/RENDER_USERS',
      mobile: 'IS_MOBILE',
    }),
  },
  methods: {
    ...mapActions({
      getUsers: 'users/GET_USERS',
    }),
    leave(el, done) {
      // const tl = gsap.timeline();
      if (!this.mobile) {
        gsap.to('#main', {
          duration: 0.3,
          x: -100,
          opacity: 0,
          onComplete: () => {
            done();
          },
        });
      } else {
        gsap.to('#main', {
          duration: 0.3,
          opacity: 0,
          onComplete: () => {
            done();
          },
        });
      }
    },
    enter() {
      if (!this.mobile) {
        gsap.from('#main', {
          duration: 0.3,
          x: 100,
          opacity: 0,
        });
      } else {
        gsap.from('#main', {
          duration: 0.3,
          opacity: 0,
        });
      }
    },
  },
  mounted() {
    if (!this.users) this.getUsers();
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

#main {
  display: flex;
  .user_list {
    position: relative;
    width: 850px;
    height: 950px;
    overflow: hidden;
  }
  .else {
    padding: 30px;
  }
  .paginator {
    position: absolute;
  //   bottom: 0;
    // right: -200px;
    top: 20px;
    right: 0px;
  }
  .tools {
    cursor: pointer;
    @media (max-width: 480px) {
      position: fixed;
      left: 10px;
      top: 60px;
    }
    @media (min-width: 480px) {
      position: absolute;
      top: 120px;
      right: 260px;
    }
  }
}
</style>
