<template>

  <div id="user_page" v-if="user && me">
    <div class="images">
      <CustomImage class="main image" :pictures="user.pictures" :key="'user_image'+user.id" />
      <div class="icons">
        <RoundedIcon :class="['like', { active: myLikeList.includes(user.id) }]"
          v-if="user.id != myId"
          icon="heart" @click.native="like(user.id)" :size="mobile ? 4 : 3" />
        <RoundedIcon :class="['ban', { active: myLikeList.includes(user.id) }]"
          v-if="user.id != myId"
        icon="ban" @click.native="like(user.id)" :size="mobile ? 4 : 3" />
        <RoundedIcon :class="['user-slash', { active: myLikeList.includes(user.id) }]"
          v-if="user.id != myId"
          icon="user-slash" @click.native="like(user.id)" :size="mobile ? 4 : 3" />
      </div>
      <router-link  v-if="user.id != myId && myLikeList.includes(user.id)
        && visitorLikeList.includes(user.id)" :to="{ path: `/chat` }">
        <div class="to_chat" @click="chatWIthUser(user.id)">Join to chat</div>
      </router-link>
    </div>
    <div class="info">

      <div class="field main">
        <span class="fio">
          <span class="name">{{`${user.firstName} ${user.lastName}, ${user.age}`}}</span>
          <span class="raiting">
            <font-awesome-icon class="icon" icon="star" />
            {{ user.fameRating }}
          </span>
          <span class="distance">
            <font-awesome-icon class="icon" icon="location-arrow" />
            {{ user.dist }} km
          </span>
        </span>
        <span class="time">
          {{ ((Date.now() - this.user.time) / 1000 > 60) ? getTime() : 'Online' }}
        </span>
      </div>

      <span class="title">Gender</span><hr>
      <div class="field gender">{{ user.gender }}</div>

      <span class="title">Preferences</span><hr>
      <div class="field preferences">
        <span v-for="pref in user.preferences" :key="`user_pref_${pref}`">{{ pref }}</span>
      </div>

      <span class="title">Biography</span><hr>
      <div class="field biography">{{ user.biography }}</div>

      <span class="title">Tags</span><hr>
      <div class="field tags">
        <span v-for="tag in user.tags" :key="`user_tag_${tag}`">#{{ tag }}</span>
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { gsap } from 'gsap';
import RoundedIcon from '@/components/RoundedIcon.vue';
import CustomImage from '@/components/CustomImage.vue';

export default {
  name: 'userPage',
  components: {
    RoundedIcon,
    CustomImage,
  },
  computed: {
    ...mapGetters({
      me: 'USER',
      user: 'users/CURRENT_USER',
      myId: 'USER_ID',
      visitorLikeList: 'users/VISITOR_LIKES',
      myLikeList: 'users/MY_LIKES',
      location: 'LOCATION',
      mobile: 'IS_MOBILE',
    }),
  },
  methods: {
    getTime() {
      const minutes = Math.floor((Date.now() - this.user.time) / 1000 / 60);
      const hours = Math.floor(minutes / 60);
      const days = Math.floor(hours / 24);
      const months = Math.floor(days / 30);
      const years = Math.floor(months / 12);
      if (years) return `was online ${years} years ago`;
      if (months) return `was online ${months} months ago`;
      if (days) return `was online ${days} days ago`;
      if (hours) return `was online ${hours} hours ago`;
      if (minutes) return `was online ${minutes} minutes ago`;
      return 'not online now';
    },
    ...mapMutations({
      like: 'users/LIKE',
      chatWIthUser: 'users/SET_CUR_CHAT_USER_ID',
      setCurUserId: 'users/SET_CUR_USER_ID',
    }),
    ...mapActions({
      getUsers: 'users/GET_USERS',
      getUserById: 'users/GET_USER_BY_ID',
    }),
    leave(el, done) {
      const tl = gsap.timeline();
      if (!this.mobile) {
        tl.to('#user_page .images', {
          duration: 0.3,
          x: -100,
          opacity: 0,
        });
        tl.to('#user_page .info', {
          duration: 0.3,
          x: 100,
          opacity: 0,
          onComplete: () => {
            done();
          },
        });
      } else {
        tl.to('#user_page .info', {
          duration: 0.3,
          opacity: 0,
        });
        tl.to('#user_page .images', {
          duration: 0.3,
          y: -150,
          onComplete: () => {
            done();
          },
        });
      }
    },
    enter() {
      const tl = gsap.timeline();
      if (!this.mobile) {
        tl.from('#user_page .images', {
          duration: 0.3,
          x: -100,
          opacity: 0,
        });
        tl.from('#user_page .info', {
          duration: 0.3,
          x: 100,
          opacity: 0,
        });
      } else {
        tl.from('#user_page .images', {
          duration: 0.3,
          y: -150,
        });
        tl.from('#user_page .info', {
          duration: 0.3,
          opacity: 0,
        });
      }
    },
  },
  watch: {
    $route() {
      this.setCurUserId(this.$route.params.id);
    },
  },
  mounted() {
    if (!this.me) this.getUsers();
    this.setCurUserId(this.$route.params.id);
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

@media (max-width: 480px) {
  #user_page {
    display: flex;
    flex-direction: column;
    .info {
      padding: 0 20px
    }
    .images {
      margin-top: 100px;
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media (min-width: 480px) {
  #user_page {
    display: flex;
    // padding-top: 50px;
    .images {
      height: 300px;
      width: 200px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
#user_page {
  .images {
    .icons {
      display: flex;
      position: relative;
      top: -30px;
      justify-content: space-around;
      .user-slash .inner_icon {
        position: absolute;
        left: -5px;
        transform: scale(0.8);
      }
    }
    .to_chat {
      position: relative;
      background-color: $main-color;
      bottom: 20px;
      padding: 10px;
      text-align: center;
      color: #fff;
      font-family: 'Lobster', cursive;
    }
  }
  .info {
    @media (min-width: 480px) {
      margin: 0 30px;
    }
    .field {
      max-width: 600px;
      margin: 20px 0 0 20px;
      display: flex;
      justify-content: space-between;
      .fio {
        position: relative;
        font-family: 'Lobster', cursive;
        font-size: 20px;
      }
      .time {
        color: rgb(161, 161, 161);
        font-size: 14px;
      }
    }
    @media (max-width: 480px) {
      .field.main {
        position: absolute;
        top: 60px;
        height: 100px;
        span {
          display: block;
        }
      }
    }
    @media (min-width: 480px) {
      .field.main {
        position: relative;
        height: 50px;
        .icon {
          margin-left: 20px;
        }
      }
    }
    .title {
      position: relative;
      bottom: -15px;
      left: 20px;
      font-size: 12px;
      background-color: #fff;
      color: rgb(161, 161, 161);
      display: inline-block;
      padding: 0 7px;
    }
    hr {
      background-color: rgb(161, 161, 161);
    }
    .tags,
    .preferences {
      display: block;
      span {
        margin-right: 10px;
      }
    }
    .tags span {
      @include tag();
      cursor: default;
    }
  }
}
</style>
