<template>
  <div :class="['field', { invalid: $v[field].$invalid }]" v-if="$v">
    <label :class="['title', 'move', { invalid: $v[field].$invalid }]">
      {{ title }}
    </label>
    <div class="radio">
      <div v-for="value in options" :key="title+value">
        <input :type="many ? 'checkbox' : 'radio'"
          :id="field+value" :value="value" v-model="choosenValue">
        <label :for="field+value">{{ value }}</label>
      </div>
    </div>
    <div class="error" v-if="!$v[field].required">Field is required</div>
  </div>
</template>

<script>
export default {
  name: 'oneChooseFielld',
  data() {
    return {
      startValue: JSON.stringify([...this.value].sort()),
    };
  },
  props: ['title', 'value', 'options', 'field', 'many', '$v'],
  computed: {
    choosenValue: {
      get() {
        return this.$store.state.user[this.field];
      },
      set(value) {
        const data = {
          key: this.field,
          val: value,
        };
        if (JSON.stringify([...value].sort()) === this.startValue) {
          this.$store.commit('CLEAR_CHANGE', this.field);
        } else {
          this.$store.commit('SET_CHANGE', data);
        }
        this.$store.commit('SET_VALUE', data);
      },
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/style.scss';

.field {
  @include input_container(40px);
  .title {
    @include input_title(40px);
  }
  .radio {
    @include input_radio(40px);
  }
  .error {
    @include error_tooltip(40px);
  }
}

</style>
