<template>
  <img v-if="status==='error'"
    @click="$emit('click', $event)"
    src="@/assets/images/not_found_user.jpg" />
  <img v-else
    @click="$emit('click', $event)"
    :src="pictures.find((img) => img.main).src"
    @error="status='error'">
</template>

<script>

export default {
  name: 'CustomImage',
  props: ['pictures', 'size'],
  data: () => ({
    status: 'pending',
  }),
  watch: {
    pictures() {
      this.status = 'pending';
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

</style>
