<template>
  <div :class="['field', { invalid: $v[field].$invalid }]" v-if="$v">
    <span class="title move">{{ title }}: </span>
    <div class="content">
      <div class="images">
        <div class="image">
          <div v-if="value.length < 5" class="img add">
            <label for="file" class="choose_file">
                <RoundedIcon icon="plus" :size="2" />
            </label>
          </div>
          <input type="file" id="file" @change="processFile($event)" class="inputfile">
        </div>
        <div v-for="(img, index) in curValue" :key="'img'+index" class="image">
          <RoundedIcon class="delete_mark" icon="times" :size="2" @click="deleteImg(index)" />
          <img class="img" :src="img.src" @click="setAsMainImg(index)">
          <font-awesome-icon class="icon main_mark fa-2x" icon="check"
            v-if="img.main"/>
        </div>
      </div>
    </div>
    <div class="error" v-if="!$v[field].required">Field is required</div>
  </div>
</template>

<script>
import RoundedIcon from '@/components/RoundedIcon.vue';

export default {
  name: 'imageFielld',
  components: {
    RoundedIcon,
  },
  data() {
    return {
      curValue: this.value || [],
      newImageId: -1,
    };
  },
  props: ['title', 'value', 'field', '$v'],
  methods: {
    deleteImg(index) {
      this.$store.commit('DELETE_IMAGE_CHANGE', this.curValue[index].id);
      const { main } = this.curValue.splice(index, 1)[0];
      this.$emit('set_value', {
        key: this.field,
        val: this.curValue,
      });
      if (main) this.setAsMainImg(0);
    },
    setAsMainImg(index) {
      this.curValue.forEach((img) => { img.main = false; });
      this.curValue[index].main = true;
      this.$emit('set_value', {
        key: this.field,
        val: this.curValue,
      });
      this.$store.commit('SET_CHANGE', {
        key: 'changeImageMain',
        val: this.curValue[index].id,
      });
    },
    processFile({ target: { files } }) {
      const len = Object.keys(this.curValue).length;
      const img = {
        src: null,
        id: this.newImageId,
        main: len === 0,
      };
      if (files[0].type === 'image/jpeg' && len < 5) {
        this.curValue.push(img);
        const reader = new FileReader();
        reader.readAsDataURL(files[0]);
        reader.onload = () => {
          img.src = reader.result;
          this.$store.commit('SET_IMAGE_CHANGE', img);
          this.$store.commit('SET_VALUE', {
            key: this.field,
            val: this.curValue,
          });
          if (!len) {
            this.$store.commit('SET_CHANGE', {
              key: 'changeImageMain',
              val: this.newImageId,
            });
          }
          this.newImageId -= 1;
        };
      }
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/style.scss';

.field {
  @include input_container(40px);
  .title {
    @include input_title(40px);
  }
  .value {
    @include input_value(40px);
  }
  .content {
    @media (min-width: 480px) {
      margin-left: 250px;
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .images {
      display: flex;
      @media (max-width: 480px) {
        min-height: 130px;
        flex-wrap: wrap;
        margin: 20px 0;
      }
      .image {
        position: relative;
        @media (max-width: 480px) {
          width: 50%;
          padding: 5px;
          height: auto;
        }
        @media (min-width: 480px) {
          min-width: 150px;
          height: 200px;
          margin-right: 10px;
        }
        .img {
          width: 100%;
          height: 100%;
          &.add {
            @include shadow($inset: true, $color: $main-color, $size: 10px);
            padding-right: 0;
          }
        }
        .delete_mark {
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .main_mark {
          color: white;
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
      }
    }

    .choose_file {
      cursor: pointer;
      position:absolute;
      color: $main-color;
      top: 50%;
      left: 50%;
      .rounded_icon {
        transform: translate(-50%, -50%);
        .circle {
          @include shadow($color: $main-color, $size: 10px);
        }
      }
    }
  }

  .error {
    @include error_tooltip(40px);
  }
}

</style>
