<template>
  <div id="not_found">
    <img src="https://www.meme-arsenal.com/memes/d9816262a1134ac7d6732829ebcb37c9.jpg">
  </div>
</template>

<script>

export default {
  name: 'notFound',
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

</style>
