<template>
  <div class="pagination only_laptop" v-if="lastPage !== 1">
    <span class="page first" v-show="currentPage > 2" @click="toFirst">
      {{ 1 }}
    </span>
    <span class="page prev" v-show="currentPage > 1" @click="moveDownPage">
      {{ currentPage - 1 }}
    </span>
    <span class="page cur active" v-show="users.length">
      {{ currentPage }}
    </span>
    <span class="page next" v-show="currentPage < lastPage" @click="moveUpPage">
      {{ currentPage + 1 }}
    </span>
    <span class="page last" v-show="currentPage + 1 < lastPage" @click="toLast">
      {{ lastPage }}
    </span>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

export default {
  name: 'paginator',
  computed: {
    ...mapGetters({
      users: 'tools/USERS',
      currentPage: 'tools/CUR_PAGE',
      lastPage: 'tools/LAST_PAGE',
    }),
  },
  methods: {
    ...mapMutations({
      toFirst: 'tools/MOVE_TO_FIRST',
      moveUpPage: 'tools/MOVE_UP_PAGE',
      moveDownPage: 'tools/MOVE_DOWN_PAGE',
      toLast: 'tools/MOVE_TO_LAST',
    }),
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

@media (min-width: 480px) {
  .pagination {
    .page {
      font-size: 10px;
      display: inline-block;
      border-radius: 30px;
      line-height: 60px;
      text-align: center;
      background-color: $main-color-light;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
    .cur {
      transform: scale(1.4) translateY(-5px);
      background-color: $main-color;
    }
    .first,
    .last {
      transform: scale(0.7) translateY(5px);
      margin: -10px;
    }
  }
}
</style>
