<template>

  <font-awesome-layers v-if="!mask" :class="[`fa-${size}x`, 'rounded_icon']"
    @click="$emit('click', $event)">
    <font-awesome-icon class="circle" icon="circle"
      :style="{ borderRadius: `${8 * size}px` }" />
    <font-awesome-icon :class="['inner_icon', `${icon}_color`]"
      :icon="icons[icon] ? icons[icon] : icon"
      :transform="`shrink-5`" />
  </font-awesome-layers>
  <font-awesome-icon :class="[`${icon}_color`]"
    @click="$emit('click', $event)"
    v-else :icon="icons[icon] ? icons[icon] : icon"
    transform="shrink-5"
    mask="circle"
    :size="`${size}x`" />
</template>

<script>
// import { gsap } from 'gsap';
import iconsMixin from '../mixins/iconMixin';

export default {
  name: 'roundIcon',
  props: ['icon', 'size', 'mask'],
  mixins: [iconsMixin],
  mounted() {
    // gsap.fromTo('.user .image .like',
    //   {
    //     opacity: 0,
    //     duration: 0.6,
    //     scale: 0.5,
    //     delay: 1,
    //   },
    //   {
    //     opacity: 1,
    //     duration: 0.6,
    //     scale: 1,
    //   });
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

.rounded_icon {
  .circle {
    color: white;
    @include shadow();
  }
}
</style>
