<template>
  <div :class="['field', { invalid: $v[field].$invalid }]" v-if="$v">
    <label class="title move" :for="title">{{ title }}: </label>
    <div class="add_panel">
      <input class="value" v-if="value.length <= 10"
        :id="title" @blur="addTag" v-model.trim="newTag"
        placeholder="Input new tag"/>
      <div class="tags">
        <span v-for="(tag, index) in value" :key="title+tag"
          @click="deleteTag(index)" class="tag">
          #{{ tag }}
        </span>
      </div>
    </div>
    <div class="error" v-if="!$v[field].required">Field is required</div>
  </div>
</template>

<script>
export default {
  name: 'tagsFielld',
  data() {
    return {
      newTag: null,
      startValue: JSON.stringify([...this.value].sort()),
    };
  },
  props: ['title', 'value', 'field', '$v'],
  methods: {
    deleteTag(index) {
      // this.$store.commit('SET_CHANGE_ARRAY', {
      //   key: 'deleteTags',
      //   val: this.value[index],
      // });
      this.value.splice(index, 1);
      this.compare();
    },
    addTag() {
      if (this.newTag && !this.value.includes(this.newTag)) {
        this.value.push(this.newTag);
        // this.$store.commit('SET_CHANGE_ARRAY', {
        //   key: 'addTags',
        //   val: this.newTag,
        // });
        this.compare();
      }
      this.newTag = null;
    },
    compare() {
      const data = {
        key: this.field,
        val: this.value,
      };
      if (JSON.stringify([...this.value].sort()) === this.startValue) {
        this.$store.commit('CLEAR_CHANGE', this.field);
      } else {
        this.$store.commit('SET_CHANGE', {
          key: 'tags',
          val: this.value,
        });
      }
      this.$store.commit('SET_VALUE', data);
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

.field {
  @include input_container(40px);
  .title {
    @include input_title(40px);
  }
  .value {
    @include input_value(40px);
  }
  .add_panel {
    display: flex;
    flex-direction: column;
    .tags {
      @media (max-width: 480px) {
        padding: 20px;
      }
      @media (min-width: 480px) {
        margin-left: 250px;
        width: 500px;
      }
      padding: 10px 0;
      .tag {
        @include tag();
        color: $main-color;
      }
    }
  }
  .error {
    @include error_tooltip(40px);
  }
}

</style>
