<template>
  <div :class="['field', {
      invalid: $v[field].$invalid,
    }]" v-if="$v">
    <textarea v-if="many" :class="['value', {
        invalid: $v[field].$invalid,
      }]"
      ref="textarea"
      @input="updatValue($event);"
      :id="title"
      :value="value" />
    <input v-else :class="['value', {
        invalid: $v[field].$invalid,
      }]"
      @input="updatValue($event);"
      @focus="focus = true"
      @blur="focus = false"
      :id="title"
      :value="value" />
    <label :class="['title', {
      invalid: $v[field].$invalid,
      move: focus || value,
    }]" ref="title" :for="title">{{ title }}</label>
    <template v-if="$v[field].$invalid">
      <span class="error" v-if="!$v[field].required">Field is required</span>
      <div class="error" v-if="$v[field].minLength === false">
        {{ title }} must have at least {{$v[field].$params.minLength.min}} letters.
      </div>
      <div class="error" v-if="$v[field].maxLength === false">
        {{ title }} must have at most {{$v[field].$params.maxLength.max}} letters.
      </div>
      <div class="error" v-if="$v[field].between === false">
        Must be between {{$v.age.$params.between.min}} and {{$v.age.$params.between.max}}
      </div>
      <div class="error" v-if="$v[field].email === false">
        Must be properly formatted
      </div>
    </template>
  </div>

</template>

<script>
export default {
  name: 'textField',
  props: ['title', 'value', 'field', '$v', 'many'],
  data() {
    return {
      startValue: this.value,
      focus: false,
    };
  },
  methods: {
    setHeight(el) {
      if (el) {
        el.style.cssText = 'height:0px';
        el.style.cssText = `height:${el.scrollHeight}px`;
        console.log(el.scrollHeight);
      }
    },
    updatValue(e) {
      this.setHeight(e.target);
      const val = e.target.value || null;
      const data = { val, key: this.field };
      if (val !== this.startValue) {
        this.$emit('set_change', data);
      } else {
        this.$emit('clear_change', this.field);
      }
      this.$emit('set_value', data);
    },
  },
  mounted() {
    this.setHeight(this.$refs.textarea);
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

.field {
  @include input_container(40px);
  textarea + .title {
    // font-size: 100px;
    color: white;
    top: 9px;
  }
  .title {
    @include input_title(40px);
  }
  .value {
    @include input_value(40px);
  }
  .error {
    @include error_tooltip(40px);
  }
}
</style>
