<template>

  <div v-if="user" :class="['user']">
    <div class="img_container">
      <CustomImage class="image" :pictures="user.pictures" />
      <font-awesome-icon :size="`${mobile ? 2 : 4}x`" icon="heart" @click="like(user.id)"
        :class="['like', { active: myLikeList.includes(user.id) }]"/>
      <RoundedIcon class="gender" :icon="user.gender" :size="mobile ? 4 : 6" :mask="mobile"/>
    </div>
    <span class="fio">
      <router-link :to="{ path: `/user/${user.id}` }">
        {{ user.firstName }} {{ user.lastName }}
      </router-link>
    </span>
    <slot />
  </div>

</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import RoundedIcon from '@/components/RoundedIcon.vue';
import CustomImage from '@/components/CustomImage.vue';

export default {
  name: 'userShort',
  props: ['user'],
  components: {
    RoundedIcon,
    CustomImage,
  },
  computed: {
    ...mapGetters({
      // userId: 'USER_ID',
      mobile: 'IS_MOBILE',
      myLikeList: 'users/MY_LIKES',
      visitorLikeList: 'users/VISITOR_LIKES',
    }),
  },
  methods: {
    ...mapMutations({
      like: 'users/LIKE',
    }),
    ...mapActions({
      getUserById: 'users/GET_USER_BY_ID',
    }),
  },
  mounted() {
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/style.scss';

@media (max-width: 480px) {
  .user {
    height: 80px;
    margin: 10px 0;
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 1px solid gray;
    .gender {
      position: absolute;
      left: 0px;
      opacity: 0.2;
      color: black;
    }
    .fio {
      position: relative;
      text-align: center;
      font-family: 'Lobster', cursive;
      a {
        color: $font-color;
        font-size: 16px;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .img_container {
      position: relative;
      min-width: 100px;
      .image {
        z-index: 2;
        border-radius: 32px;
        min-width: 64px;
        height: 64px;
        object-fit: cover;
      }
      .like {
        position: absolute;
        left: 50px;
        top: 40px;
        cursor: pointer;
        display: inline-block;
        z-index: 3;
      }
    }
  }
}
@media (min-width: 480px) {
  .user {
    height: 120px;
    margin: 2px 0;
    display: flex;
    // width: 600px;
    padding: 10px;
    position: relative;
    .fio {
      position: relative;
      width: 300px;
      line-height: 96px;
      text-align: center;
      font-family: 'Lobster', cursive;
      a {
        color: $font-color;
        font-size: 20px;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .img_container {
      position: relative;
      min-width: 150px;
      .image {
        z-index: 2;
        position: absolute;
        border-radius: 50px;
        min-width: 96px;
        height: 96px;
        object-fit: cover;
        left: 70px;
      }
      .like {
        position: absolute;
        left: 95px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 25px 0;
        display: inline-block;
        z-index: 3;
      }
    }
  }
}
</style>
