$main-color-dark: #9e6459;
$main-color-box: #c9ada7;
$main-color: #ec9383;
$main-color-shadow: #ad6c60;
$main-color-light: #faddd8;
$woman: rgb(228, 101, 143);
$man: rgb(95, 157, 228);
$bi: rgb(94, 218, 156);
$error-color: rgb(207, 48, 48);
$error-color-light: rgb(255, 191, 191);
$font-color: #2c3e50;
$like-color: rgb(253, 80, 57);
  .active {
    .heart_color {
      color: $like-color;
    }
  }
$dislike-color: rgb(181, 57, 253);
// $like-light-color: rgb(221, 136, 125);
$dislike-light-color: rgb(192, 126, 223);
$visit-light-color: rgb(127, 149, 224);
$message-light-color: rgb(148, 221, 126);
// $woman: #F6AEF9;
// $man: #AEC8F9;
// $bi: #AEF9B6;
$woman_light: rgb(255, 240, 251);
$man_light: rgb(238, 247, 255);
$bi_light: rgb(238, 255, 239);

$width_content: 1200px;
$padding_content: 20px;
$footer_height: 80px;
$header_height: 80px;
$user_height: 300px;
$user_width: 700px;
$user_inner_height: 130px;
$img_big: 240px;
$img_big_border: 10px;

@mixin shadow($inset: false, $color: $main-color-box, $size: 20px, $X: 0px, $Y: 0px) {
  @if $inset {
    box-shadow: inset $X $Y $size $color;
  } @else {
    box-shadow: $X $Y $size $color;
  }
}

@mixin footer($footer_height: 80px) {
  left: 0;
  z-index: 3;
  position: absolute;
  margin-top: -$footer_height;
  height: $footer_height;
  width: 100%;
  background-color: $main-color;
  @include shadow(
    $inset: true,
    $color: $main-color-shadow,
    $size: 10px,
    $Y: 5px,
  );
  .footer_content {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: right;
    color: white;
    line-height: $footer_height;
    margin: 0 auto;
    padding: 0 $padding_content;
    height: 100%;
    max-width: $width_content;
    .footer_mobile {
      display: flex;
      justify-content: space-around;
      .link {
        margin: 0;
      }
    }
  }
}

@mixin button($color: $main-color, $disabled-color: $main-color-box) {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: $color;
  width: 170px;
  &.disabled {
    background-color: $disabled-color;
    cursor: default;
  }
  padding: 10px 20px;
  line-height: 30px;
  height: 50px;
  
}

@mixin header($header_height: 80px) {
  top: 0;
  left: 0;
  position: fixed;
  height: $header_height;
  width: 100%;
  background-color: $main-color;
  z-index: 4;
  // transition: height 0.5s;
  // height: 100%;
  @include shadow(
    $inset: true,
    $color: $main-color-shadow,
    $size: 10px,
    $Y: -5px,
  );
  .nav {
    display: flex;
    align-items: center;
    // height: 100%;
    font-family: 'Pacifico', cursive;
    max-width: $width_content;
    margin: 0 auto;
    padding: 0 $padding_content;
    .link {
      height: 100%;
      line-height: $header_height;
      text-align: center;
      position: relative;
      margin-right: 20px;
      &.notif {
        margin-left: auto;
      }
      &:last-child {
        margin: 0;
      }
    }
    .counter {
      right: 10px;
      top: -10px;
    }
    .badge {
      right: -35px + $header-height / 6;
      top: $header-height / 10;
      position: absolute;
    }
  }
  &.fill {
    // z-index: -1;
    height: 100%;
  }
}

@mixin app() {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  min-width: 100%;
  font-size: 16px;
  input {
    outline: none;
  }
  a {
    color: $font-color;
    text-decoration: none;
  }
  .link {
    color: white;
    cursor: pointer;
    font-size: 20px;
    // margin-right: 20px;
    &:hover {
      text-decoration: underline;
    }
    &.disable {
      color: lightgray;
      text-decoration: none;
      &:hover {
        cursor: default;
      }
    }
  }
  // .btn {
  // }
}

@mixin wrapper() {
  margin: 0 auto;
  min-height: 100vh;
  max-width: $width_content;
  @media (max-width: 480px) {
    padding: 0;
  }
  @media (min-width: 480px) {
    padding: 0 $padding_content;
  }
}

@mixin tag() {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  // color: $main-color-dark;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 10px $main-color-box;
}

@mixin input_container($height) {
  min-height: $height;
  display: flex;
  position: relative;
  flex-direction: column;
  &.invalid {
    color: $error-color;
    font-weight: bold;
  }
}

@mixin input_title($height) {
  position: absolute;
  height: $height;
  line-height: $height;
  left: 20px;
  // top: 0;
  transition: top .2s, left .2s, color .2s;
  &.invalid {
    color: $error-color !important;
    font-weight: bold;
  }
}

@mixin input_radio($height) {
  input {
    z-index: -1;
    opacity: 0;
    &:checked + label:after {
      top: 7px;
      left: -28px;
      width: 16px;
      height: 16px;
    }
  }
  label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    font-weight: normal;
    left: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: -30px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: $main-color;
      transition: .2s;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      top: 15px;
      left: -20px;
      position: absolute;
      border-radius: 8px;
      background: #fff;
      transition: .2s;
    }
  }
}

@mixin input_value($height) {
  padding: 20px;
  height: $height;
  width: 100%;
  border: 0;
  font-size: 16px;
  resize: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

@mixin error_tooltip($height) {
  position: absolute;
  line-height: $height;
  height: $height;
  font-size: 0.7em;
  @media (max-width: 480px) {
    font-size: 0.5em;
  }

}

.wrapper {
  @include wrapper();
  .male_color {
    color: $man;
  }
  .female_color {
    color: $woman;
  }
  .bisexual_color {
    color: $bi;
  }
  .comment-alt_color {
    color: $message-light-color;
  }
  .eye_color {
    color: $visit-light-color;
  }
  .heart-broken_color {
    color: $dislike-light-color;
  }
  .like {
    color: lightgray;
  }
  .like.active {
    color: rgb(253, 80, 57);
  }
}

@media (max-width: 480px) {
  .only_laptop {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .only_mobile {
    display: none !important; 
  }
}


.list-enter-active {
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.list-leave-active {
  transition: all 0.5s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.list-move {
  transition: transform 0.5s;
}



.user-enter-active {
  transition: all 0.5s;
  transition-delay: 0.5s;
  .gender {
    animation: 0.5s show 0.5s ease-in forwards;
  }
  .pref_0 {
    animation: 0.5s show0 0.5s ease-in forwards;
  }
  .pref_1 {
    animation: 0.5s show1 0.5s ease-in forwards;
  }
  .pref_2 {
    animation: 0.5s show2 0.5s ease-in forwards;
  }
  .image {
    transition: all 0.000.5s;
    transition-delay: 0.5s;
    opacity: 1;
  }
  .image .custom_image {
    transition: all 0.5s;
    transition-delay: 0.5s;
  }
  .fio {
    transition: all 0.5s;
    transition-delay: 0.5s;
  }
  .biography {
    transition: all 0.5s;
    transition-delay: 0.5s;
  }
  .tags {
    transition: all 0.5s;
    transition-delay: 0.5s;
  }
}

@media (min-width: 480px) {
  .user-leave-active {
    transition: all 0.5s;
    .gender {
      animation: 0.5s hide ease-out forwards;
    }
    .pref_0 {
      animation: 0.5s hide0 ease-out forwards;
    }
    .pref_1 {
      animation: 0.5s hide1 ease-out forwards;
    }
    .pref_2 {
      animation: 0.5s hide2 ease-out forwards;
    }
    .image {
      transition: all 0.5s;
      opacity: 1;
    }
    .image .custom_image {
      transition: all 0.5s;
    }
    .fio {
      transition: all 0.5s;
    }
    .biography {
      transition: all 0.5s;
    }
    .tags {
      transition: all 0.5s;
    }
  }

  .user-leave-to {
    .fio {
      transform: translateX(-100px);
      opacity: 0;
    }
    .image .custom_image {
      transform: rotate(-360deg);
      opacity: 0.5;
    }
    .tags {
      transform: translateX(100px);
      opacity: 0;
    }
  }
  .user-enter {
    .fio {
      transform: translateX(100px);
      opacity: 0;
    }
    .image {
      opacity: 0;
    }
    .image .custom_image {
      transform: rotate(360deg);
      opacity: 0.5ease-out;
    }
    .tags {
      transform: translateX(-100px);
      opacity: 0;
    }
  }
  .user-enter, .user-leave-to {
    .biography {
      opacity: 0;
    }
  }

  .user-move {
    transition: transform 0.5s;
  }


  @keyframes show {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
        scale(0.5);
    }
    100% {
      transform:
        rotate(-150deg)
        translateX(120px)
        rotate(150deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show0 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-115deg)
        translateX(120px)
        rotate(115deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show1 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-95deg)
        translateX(120px)
        rotate(95deg)
        translate(-50%, -50%);
    }
  }
  @keyframes show2 {
    0% {
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
    100% {
      transform:
        rotate(-75deg)
        translateX(120px)
        rotate(75deg)
        translate(-50%, -50%);
    }
  }


  @keyframes hide {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
        scale(0.5);
    }
  }
  @keyframes hide0 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }
  @keyframes hide1 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }
  @keyframes hide2 {
    to {
      z-index: 100;
      transform:
        rotate(90deg)
        translateX(120px)
        rotate(-90deg)
        translate(-50%, -50%)
    }
  }

}
