<template>
  <div id="app">
    <PopWindow/>
    <header :class="{ fill: !user }">
      <div class="nav" v-if="user">
        <div v-if="user.informationFilled" class="only_laptop">
          <router-link class="link" :to="{ path: `/user/${user.id}` }">
            My page</router-link>
          <router-link class="link" :to="{ name: 'main' }">Search</router-link>
          <router-link class="link" :to="{ name: 'history' }">History</router-link>
          <router-link class="link" :to="{ name: 'visitors' }">Visitors</router-link>
          <router-link class="link" :to="{ name: 'chat' }">Chat</router-link>
        </div>
        <router-link class="link notif" :to="{ name: 'notifications' }">
        <font-awesome-layers class="icon">
          <font-awesome-icon icon="bell"/>
          <span v-if="curLen(notifications, 'notifications')"
            class="fa-layers-counter counter fa-2x">
            {{ curLen(notifications, 'notifications') }}
          </span>
        </font-awesome-layers>
        </router-link>
        <router-link class="link" :to="{ name: 'settings' }">
          <font-awesome-icon :class="['icon']" icon="cogs" />
        </router-link>
        <a class="link" @click="logout">
          <font-awesome-icon :class="['icon']" icon="sign-out-alt" />
        </a>
      </div>
    </header>
    <main>
      <p class="text" v-if="user && !user.mailConfirmed">
        For continue, please check your mail '{{ user.mail }}' and verify account
      </p>

    <transition
      v-else
      name="page"
      mode="out-in"
      @leave="leave"
      @enter="enter">
        <router-view ref="page"/>
    </transition>

    </main>
    <footer id="footer" v-if="user">
      <div class="footer_content">
        <div class="only_laptop">
          Make by mskiles (s.shurn94@gmail.com)
        </div>
        <div class="footer_mobile only_mobile">
          <router-link class="link" :to="{ path: `/user/${user.id}` }">
            <font-awesome-icon :class="['icon']" icon="user" />
          </router-link>
          <router-link class="link" :to="{ name: 'history' }">
            <font-awesome-icon :class="['icon']" icon="history" />
          </router-link>
          <router-link class="link" :to="{ name: 'main' }">
            <font-awesome-icon :class="['icon']" icon="search" />
          </router-link>
          <router-link class="link" :to="{ name: 'visitors' }">
            <font-awesome-icon :class="['icon']" icon="eye" />
          </router-link>
          <router-link class="link" :to="{ name: 'chat' }">
            <font-awesome-icon :class="['icon']" icon="comment-alt" />
          </router-link>
        </div>
      </div>
    </footer>
</div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import PopWindow from '@/components/PopWindow';
import badgeMixin from '@/mixins/badgeMixin';

export default {
  name: 'app',
  components: {
    PopWindow,
  },
  mixins: [badgeMixin],
  computed: {
    ...mapGetters({
      user: 'USER',
      notifications: 'messages/GET_ALL_NOTIFICATIONS',
    }),
  },
  methods: {
    ...mapMutations({
      resize: 'RESIZE',
    }),
    ...mapActions({
      logout: 'LOGOUT',
    }),
    leave(el, down) {
      this.$refs.page.leave(el, down);
    },
    enter(el, down) {
      this.$refs.page.enter(el, down);
    },
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.resize);
  },
  mounted() {
    this.$nextTick(() => { this.resize(); });
    window.addEventListener('resize', this.resize);
  },
};
</script>

<style lang="scss">
@import '@/assets/style.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,
html,
#app {
  p {
    margin: 0;
  }
  min-height: 100vh;
  margin: 0;
  @include app();
  .text {
    padding: 10%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: 480px) {

    header {
      @include header($header_height: 50px);
    }

    main {
      overflow: hidden;
      min-height: 100vh;
      padding: 100px 0px;
    }

    footer {
      @include footer($footer_height: 50px);
      position: fixed;
      bottom: 0;
    }
  }

  @media (min-width: 480px) {

    header {
      @include header();
    }

    main {
      min-height: 100vh;
      padding: 150px 20px;
    }

    footer {
      @include footer();
    }
  }
}

// .logout-leave-active {
  //   transition: height 1.0s;
// }

// .logout-leave-to {
  //   height: 100%;
// }


</style>
